
<div class="spinner" ng-show="loading">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
  <div ng-hide="loading">
<h4>Clusters</h4>
    This page only shows 50 clusters, but the search box below searches the whole database with {{clusters.length}} clusters.
    <form class="form-inline">
      <input ng-model="query" type="text"
             placeholder="Search" autofocus>
    </form><br>
<ul>
  <li ng-repeat="cluster in clusters | filter:query | limitTo:50" class="animate">
    <a ng-href="#/clusters/{{cluster.id}}">{{cluster.lingoLabel}}</a>
  </li>
</ul>
  </div>