<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    Music is the shit!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->

<div class="jumbotron">
  <h1>Step 1</h1>
  <p class="lead">
    Register with our system
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#" ng-hide="loginObj.user" ng-click="loginObj.$login('facebook')">Register!</a>
  <div ng-show="loginObj.user">
    <img ng-src="{{profilePic}}" height="30px"> {{loginObj.user.displayName}} <span  class="glyphicon glyphicon-ok"></span>
  </div>
</div>

<div class="jumbotron">
  <h1>Step 2</h1>
  <p class="lead">
    Add your music services 
  </p>
  <p><a class="btn btn-lg btn-success" href="#" ng-click="login()">Spotify</a></p><p><a class="btn btn-lg btn-success" ng-href="#">Deezer</a></p>
</div>

<div class="jumbotron">
  <h1>Step 3</h1>
  <p class="lead">
    Get music recommendations
  </p>
</div>
  
<!--</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->
